<div class="header">

  <a class="logo" href="#">
    <img src="../../assets/images/logo.png" alt="company logo">
    <span>Milan Banjac</span>
  </a>
  <div class="searchbox">
    <input type="text" placeholder="Leita að skjólstæðingi">
    <i class="material-icons">search</i>
  </div>
  <div class="spacer"></div>
  <ul class="menu">
    <li class="menu__item"><a href="#"><i class="material-icons down">grading</i>Minnisatridi</a></li>
    <li class="menu__item"><a href="#"><i class="material-icons down">wysiwyg</i>Vinnulisti</a></li>
    <li class="menu__item"><a href="#"><i class="material-icons down">event</i>Dagskra</a></li>
  </ul>
  <a href="#" class="main-menu" id="main-menu" (click)="status=!status" [ngClass]="status ? 'main-menu--open' : ''">
    <img src="../../assets/images/milan.jpg" alt="">
    <p class="main-menu__user">Milan Banjac</p>
    <div class="spacer"></div>
    <i class="material-icons down">expand_more</i>
    <i class="material-icons up">expand_less</i>
  </a>

  <div class="dropdown-menu" [ngClass]="{'dropdown-menu--open': status, '': !status}">
    <ul class="dropdown-menu__list">
      <li class="dropdown-menu__item"><a href="#"><i class="material-icons down">announcement</i>Give Feedback</a></li>
        <div class="divider"></div>
        <li class="dropdown-menu__item"><a href="#"><i class="material-icons down">settings</i>Settings & Privacy</a></li>
        <li class="dropdown-menu__item"><a href="#"><i class="material-icons down">help</i>Help & Support</a></li>
        <li class="dropdown-menu__item"><a href="#"><i class="material-icons down">bedtime</i>Display & Accessibility</a></li>
        <li class="dropdown-menu__item"><a href="#"><i class="material-icons down">logout</i>Log Out</a></li>
        <div class="divider"></div>
        <li class="privacy"><a href="#">Privacy Policy • Terms of Service</a></li>
    </ul>
  </div>
</div>
