<div class="main-buttons">
  <button class="button button--blue"><i class="material-icons">manage_search</i>Leita</button>
  <button class="button">Raða eftir</button>
</div>

<!-- To-Do List -->
<div class="todos">

  <form (submit)="addTodo()">
    <input type="text" name="inputTodo" placeholder="Enter todo..." class="todo-input" [(ngModel)]="inputTodo" />
  </form>

  <div *ngFor="let todo of todos; let i = index;" class="todo {{ (todo.completed ? 'done' : '') }}">
    <a (click)="toggleDone(i)">
      <input type="radio" class="radio" [checked]="todo.completed">
      <div class="id">{{ i }}</div>
      <div class="content">{{ todo.content }}</div>
      <div class="spacer"></div>
      <span class="delete" (click)="deleteTodo(i)"><i class="material-icons">delete_outline</i></span>
    </a>
  </div>
</div>

<a href="#" class="accordion" (click)="status=!status" [ngClass]="status ? 'accordion--closed' : ''">
  <i class="material-icons up">expand_less</i>
  <i class="material-icons down">expand_more</i>
  <h3>Lokið</h3>
</a>

<div class="doneTodos" [ngClass]="{'doneTodos--closed': status, '': !status}">
  <div *ngFor="let todo of completedTodos; let i = index;" class="todo {{ (todo.completed ? 'done' : '') }}">
    <a (click)="toggleCompletedDone(i)">
      <input type="radio" class="radio" [checked]="todo.completed">
      <div class="id">{{ i }}</div>
      <div class="content">{{ todo.content }}</div>
      <div class="spacer"></div>
      <span class="delete" (click)="deleteTodo(i, true)"><i class="material-icons">delete_outline</i></span>
    </a>
  </div>
</div>
