<div class="main-buttons" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="end">
  <button class="button button--blue" fxLayoutGap="5px"><i class="material-icons">manage_search</i><span>Leita</span></button>
  <button class="button"><span>Raða eftir</span></button>
</div>

<!-- To-Do List -->
<div class="todos">

  <form (submit)="addTodo()">
    <input type="text" name="inputTodo" placeholder="Enter todo..." class="todo-input" [(ngModel)]="inputTodo" />
  </form>

  <div *ngFor="let todo of todos; let i = index;" class="todo {{ (todo.completed ? 'done' : '') }}">
    <a (click)="toggleDone(i)" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
      <input type="radio" class="radio" [checked]="todo.completed" fxFlexOffset="10px">
      <div class="id">{{ i }}</div>
      <div class="content" fxFlex>{{ todo.content }}</div>
      <span class="delete" (click)="deleteTodo(i)"><i class="material-icons">delete_outline</i></span>
    </a>
  </div>
</div>

<a href="#" class="accordion" (click)="status=!status" [ngClass]="status ? 'accordion--closed' : ''">
  <i class="material-icons up">expand_less</i>
  <i class="material-icons down">expand_more</i>
  <h3>Lokið</h3>
</a>

<div class="doneTodos" [ngClass]="{'doneTodos--closed': status, '': !status}">
  <div *ngFor="let todo of completedTodos; let i = index;" class="todo {{ (todo.completed ? 'done' : '') }}">
    <a (click)="toggleCompletedDone(i)" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
      <input type="radio" class="radio" [checked]="todo.completed" fxFlexOffset="10px">
      <div class="id">{{ i }}</div>
      <div class="content">{{ todo.content }}</div>
      <span class="delete" (click)="deleteTodo(i, true)"><i class="material-icons">delete_outline</i></span>
    </a>
  </div>
</div>
