// Font Colors
$color-text-primary: #333333;
$color-text-light: #666666;
$color-text-blue: #2563EB;

// General
$color-white: #ffffff;
$color-black: #000000;

// Backgrounds
$color-background-primary: #F9F8FD;

// Highlights
$color-highlight-primary: #f2f2f2;

// Borders
$color-border-primary: #dddddd;
