<div class="sidenav" fxFlex="280px" fxLayout="column" fxLayoutAlign="space-between stretch">
  <ul class="menu">
    <li class="menu__item">
      <a fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <i class="material-icons">wysiwyg</i>
        <span fxFlex>Vinnulisti</span>
        <span class="badge">7</span>
      </a>
    </li>
    <li class="menu__item">
      <a fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <i class="material-icons">event</i>
        <span fxFlex>Dagskra</span>
      </a>
    </li>
    <li class="menu__item">
      <a class="active" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <i class="material-icons">edit_road</i>
        <span fxFlex>Minnispunktar</span>
        <span class="badge">24</span>
      </a>
    </li>
  </ul>
  <div class="footer">
    ©2021 Milan Banjac
  </div>
</div>
