<div class="sidenav">
  <ul class="menu">
    <li class="menu__item">
      <a href="#">
        <i class="material-icons">wysiwyg</i>Vinnulisti
        <span class="badge">7</span>
      </a>
    </li>
    <li class="menu__item">
      <a href="#"><i class="material-icons">event</i>Dagskra</a>
    </li>
    <li class="menu__item">
      <a href="#" class="active">
        <i class="material-icons">edit_road</i>Minnispunktar
        <span class="badge">24</span>
      </a>
    </li>
  </ul>
  <div class="spacer"></div>
  <div class="footer">
    ©2021 Milan Banjac
  </div>
</div>
